body {
    font-family: 'Arial', sans-serif;
    background-color: #1b1b1b;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border: 2px solid #e74c3c;
    box-shadow: 0 0 20px #e91e63;
}

h1 {
    color: #e91e63;
    text-align: center;
    text-shadow: 0 0 10px #e91e63, 0 0 20px #e91e63, 0 0 30px #e91e63;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #a2a2a2;
}

.btn {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #e91e63;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    text-shadow: 0 0 10px #e91e63, 0 0 20px #e91e63, 0 0 30px #e91e63;
    box-shadow: 0 0 10px #e91e63, 0 0 20px #e91e63, 0 0 30px #e91e63;
}

.btn:hover {
    background-color: #c0392b;
    box-shadow: 0 0 10px #c0392b, 0 0 20px #c0392b, 0 0 30px #c0392b;
}
